/* *********************************************
[Master Stylesheet]

Template Name: Razo - Radio HTML5 Template
Template Author: Colorlib
Template Author URL: http://colorlib.com
Version: 1.0.0
Last Update: Jan 13, 2018

*********************************************

[Tables of CSS Content]

+ body

    - 01.0 Reboot CSS
    - 02.0 Spacing CSS
    - 03.0 Preloader CSS
    - 04.0 Heading CSS
    - 05.0 Backtotop CSS
    - 06.0 Buttons CSS
    - 07.0 Header CSS
    - 08.0 Hero CSS
    - 09.0 App Download CSS
    - 10.0 Table CSS
    - 11.0 Blog CSS
    - 12.0 Footer CSS
    - 13.0 Music Chart CSS
    - 14.0 Contact CSS
    - 15.0 Show CSS
    - 16.0 Event CSS
    - 17.0 Podcast CSS

  ---------------------------------------------
  [Color Codes]

  $heading: #191919; [Heading Color]
  $text: #6e6e6e; [Text Color]
  $bg-gray: #e7f2fd; [Gray Background]
  $primary: #dc2878; [Primary Color]
  $white: #ffffff; [White Color]
  $dark: #000000; [Dark Color]
  $border: #e5e5e5; [Border Color]
  $hover: #dc2878; [Hover Color]
  $secondary: #a6a6a6; [Secondary Color]

  ---------------------------------------------
  [Font Family: 'Open Sans & Oswald']
--------------------------------------------- */
/* Import Fonts & All CSS */
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:200,300,400,500,600,700");
@import url(css/bootstrap.min.css);
@import url(css/animate.css);
@import url(css/default-assets/classy-nav.css);
@import url(css/default-assets/audioplayer.css);
@import url(css/owl.carousel.min.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/style.css);*/
/* :: 1.0 Reboot CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  z-index: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: #191919;
  line-height: 1.4;
  font-weight: 500; }

a,
a:active,
a:focus,
a:hover {
  font-family: "Open Sans", sans-serif;
  color: #191919;
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none;
  font-size: 16px;
  font-weight: 500; }

li {
  list-style: none; }

p {
  line-height: 1.8;
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.65); }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.mfp-iframe-holder .mfp-close {
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #dc2878;
  text-align: center;
  right: 0;
  padding-right: 0;
  line-height: 32px; }

.bg-transparent {
  background-color: transparent !important; }

.bg-gray {
  background-color: #e7f2fd !important; }

textarea:focus,
input:focus {
  outline: none; }

/* :: 2.0 Spacing CSS */
.mt-15 {
  margin-top: 15px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-150 {
  margin-top: 150px; }

.mr-15 {
  margin-right: 15px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mr-100 {
  margin-right: 100px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-100 {
  margin-bottom: 100px; }

.ml-15 {
  margin-left: 15px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.ml-100 {
  margin-left: 100px; }

.pt-50 {
  padding-top: 50px !important; }

.pt-10 {
  padding-top: 10px !important; }

.p-20 {
  padding: 20px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pl-20 {
  padding-left: 20px !important; }

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px; }

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0; }

/* :: 3.0 Preloader CSS */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #preloader span {
    color: #ffffff;
    font-size: 12px;
    margin-top: 15px;
    display: block;
    text-transform: capitalize; }

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1;
  margin: 0 auto; }

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #dc2878;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%,
    100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0%,
    100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
/* :: 4.0 Heading CSS */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .section-heading h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 30px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 24px; } }
  .section-heading.white h2 {
    color: #ffffff; }

/* :: 5.0 Backtotop CSS */
#scrollUp {
  position: absolute !important;
  bottom: 76px;
  font-size: 20px;
  line-height: 43px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-color: #dc2878;
  color: #ffffff;
  text-align: center;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  z-index: 600000 !important; }
  @media only screen and (max-width: 767px) {
    #scrollUp {
      bottom: 68px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    #scrollUp {
      bottom: 73px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    #scrollUp {
      bottom: 76px; } }
  #scrollUp:focus, #scrollUp:hover {
    background-color: #000000;
    color: #ffffff; }

/* :: 6.0 Buttons CSS */
.btn:focus {
  box-shadow: none; }

.razo-btn {
  position: relative;
  z-index: 1;
  min-width: 145px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #dc2878;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .razo-btn:focus, .razo-btn:hover {
    font-weight: 600;
    font-size: 14px;
    background-color: #191919;
    color: #ffffff; }
  .razo-btn.btn-2 {
    background-color: #ffffff;
    color: #dc2878; }
    .razo-btn.btn-2:focus, .razo-btn.btn-2:hover {
      background-color: #dc2878;
      color: #ffffff; }
  .razo-btn.btn-sm {
    border: 1px solid #dc2878;
    height: 33px;
    min-width: 160px;
    color: #dc2878;
    font-size: 14px;
    font-weight: 600;
    line-height: 31px;
    background-color: #ffffff; }
    .razo-btn.btn-sm:hover, .razo-btn.btn-sm:focus {
      background-color: #dc2878;
      color: #ffffff; }

.show-all-btn {
  display: inline-block;
  padding: 0;
  color: #a6a6a6;
  font-size: 16px; }
  @media only screen and (max-width: 767px) {
    .show-all-btn {
      font-size: 14px; } }
  .show-all-btn:hover, .show-all-btn:focus {
    color: #ffffff; }

/* :: 7.0 Header CSS */
.header-area {
  position: relative;
  z-index: 10;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #191919; }
  .header-area .social-share-icon,
  .header-area .search-icon {
    position: relative;
    z-index: 1;
    margin-left: 30px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .social-share-icon,
      .header-area .search-icon {
        color: #191919;
        margin-left: 15px;
        margin-top: 15px;
        width: 30px; } }
    @media only screen and (max-width: 767px) {
      .header-area .social-share-icon,
      .header-area .search-icon {
        color: #191919;
        margin-left: 15px;
        margin-top: 15px;
        width: 30px; } }
    .header-area .social-share-icon:focus, .header-area .social-share-icon:hover,
    .header-area .search-icon:focus,
    .header-area .search-icon:hover {
      color: #dc2878; }
  .header-area .social-share-icon {
    margin-left: 60px; }
    .header-area .social-share-icon.active {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .social-share-icon.active {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg); } }
      @media only screen and (max-width: 767px) {
        .header-area .social-share-icon.active {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg); } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .header-area .social-share-icon {
        margin-left: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .social-share-icon {
        margin-left: 15px;
        margin-top: 15px; } }
    @media only screen and (max-width: 767px) {
      .header-area .social-share-icon {
        margin-left: 15px;
        margin-top: 15px; } }

.classy-nav-container {
  background-color: transparent;
  padding: 0; }
  .classy-nav-container .classy-navbar {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    height: 90px;
    padding: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar .nav-brand {
        max-width: 90px;
        margin-right: 15px; } }
    .classy-nav-container .classy-navbar .classynav ul li a {
      position: relative;
      z-index: 1;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 600; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          color: #191919; } }
      @media only screen and (max-width: 767px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          color: #191919; } }
      .classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover {
        color: #dc2878;
        font-weight: 600; }
    .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a {
      font-size: 13px;
      text-transform: capitalize;
      height: 42px;
      line-height: 42px;
      padding: 0 30px;
      color: #191919;
      font-weight: 600; }
      .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a:hover, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li.megamenu-item ul li a:hover {
        color: #dc2878;
        font-weight: 600;
        padding-left: 35px; }

.classynav ul li.has-down > a::after,
.classynav ul li.has-down.active > a::after,
.classynav ul li.megamenu-item > a::after {
  color: #dc2878; }

.breakpoint-off .classynav ul li .dropdown,
.breakpoint-off .classynav ul li .megamenu {
  width: 210px;
  -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  border-radius: 6px; }

.breakpoint-off .classynav ul li .megamenu {
  width: 100%; }

.top-search-area .modal-dialog {
  max-width: 650px; }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .top-search-area .modal-dialog {
      max-width: 530px; } }
.top-search-area .modal-content {
  border: none;
  -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  border-radius: 4px; }
  .top-search-area .modal-content .modal-body {
    padding: 100px;
    position: relative;
    z-index: 1;
    background-color: #e7f2fd;
    border-radius: 4px; }
    @media only screen and (max-width: 767px) {
      .top-search-area .modal-content .modal-body {
        padding: 50px 40px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .top-search-area .modal-content .modal-body {
        padding: 70px; } }
    .top-search-area .modal-content .modal-body button.close-btn {
      position: absolute;
      top: 15px;
      right: 20px;
      z-index: 10;
      font-size: 14px; }
      .top-search-area .modal-content .modal-body button.close-btn.btn {
        padding: 0;
        background-color: transparent; }
        .top-search-area .modal-content .modal-body button.close-btn.btn:focus, .top-search-area .modal-content .modal-body button.close-btn.btn:hover {
          box-shadow: none;
          color: #dc2878; }
    .top-search-area .modal-content .modal-body .search-btn {
      position: absolute;
      font-size: 150px;
      bottom: -30px;
      right: 15px;
      z-index: -1;
      color: #dc2878;
      opacity: 0.06; }
.top-search-area form {
  width: 100%;
  position: relative;
  z-index: 1; }
  .top-search-area form input {
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.08);
    border-radius: 35px;
    font-size: 12px;
    font-style: italic;
    padding: 0 30px; }
    .top-search-area form input:focus {
      box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.08); }
  .top-search-area form button {
    display: none; }

.razo-social-share-area {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -300px;
  z-index: 6500;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .razo-social-share-area.active {
    right: 30px; }
  .razo-social-share-area a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    background-color: #e7f2fd;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
    box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
    text-align: center; }
    .razo-social-share-area a:last-child {
      margin-bottom: 0; }
    .razo-social-share-area a.facebook {
      background-color: #4c60ac; }
    .razo-social-share-area a.twitter {
      background-color: #00bae3; }
    .razo-social-share-area a.pinterest {
      background-color: #d91a18; }
    .razo-social-share-area a.instagram {
      background-color: #0085d7; }
    .razo-social-share-area a.youtube {
      background-color: #e20000; }
    .razo-social-share-area a.ss-close-btn {
      background-color: #191919; }
    @media only screen and (max-width: 767px) {
      .razo-social-share-area a {
        width: 40px;
        height: 40px;
        line-height: 40px; } }
    .razo-social-share-area a:hover, .razo-social-share-area a:focus {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
      background-color: #dc2878; }

.main-header-area.sticky {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #191919;
  -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  border-bottom: none;
  left: 0;
  z-index: 650; }
  .main-header-area.sticky .classy-navbar {
    height: 60px; }

/* :: 8.0 Hero CSS */
.single-welcome-slide {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 750px;
  background-color: #ffffff; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-welcome-slide {
      height: 600px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-welcome-slide {
      height: 550px; } }
  @media only screen and (max-width: 767px) {
    .single-welcome-slide {
      height: 410px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-welcome-slide {
      height: 460px; } }
  .single-welcome-slide .welcome-text {
    position: relative;
    z-index: 1; }
    .single-welcome-slide .welcome-text h2 {
      font-size: 48px;
      display: block;
      margin-bottom: 20px;
      color: #ffffff; }
      @media only screen and (max-width: 767px) {
        .single-welcome-slide .welcome-text h2 {
          font-size: 36px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .single-welcome-slide .welcome-text h2 {
          font-size: 42px; } }
    .single-welcome-slide .welcome-text h5 {
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 50px;
      display: block; }

.welcome-slides {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .welcome-slides .owl-dots {
    position: absolute;
    padding: 0 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6px;
    bottom: 0;
    left: 0;
    z-index: 10; }
    .welcome-slides .owl-dots .owl-dot {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      height: 0;
      background-color: transparent;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
      .welcome-slides .owl-dots .owl-dot.active {
        height: 6px;
        background-color: #dc2878; }

/* :: 9.0 App Download CSS */
.razo-app-download-area {
  position: relative;
  z-index: 1; }
  .razo-app-download-area .app-download-text {
    position: relative;
    z-index: 1; }
    .razo-app-download-area .app-download-text span {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      color: #ffffff; }
    .razo-app-download-area .app-download-text h2 {
      font-size: 36px;
      margin-bottom: 15px;
      color: #ffffff; }
    .razo-app-download-area .app-download-text p {
      color: #ffffff;
      margin-bottom: 40px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .razo-app-download-area .app-download-text p {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .razo-app-download-area .app-download-text p {
          font-size: 14px; } }
    .razo-app-download-area .app-download-text .app-download-btn a {
      display: inline-block;
      margin-right: 10px; }
      @media only screen and (max-width: 767px) {
        .razo-app-download-area .app-download-text .app-download-btn a img {
          max-width: 120px; } }

/* :: 10.0 Tables CSS */
.weekly-schedule-table {
  position: relative;
  z-index: 1; }
  .weekly-schedule-table table thead th {
    position: relative;
    z-index: 1;
    font-size: 20px;
    padding: 0 0 10px 0; }
    .weekly-schedule-table table thead th p {
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      margin-bottom: 0;
      font-weight: 500;
      color: #191919; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .weekly-schedule-table table thead th p {
          font-size: 16px; } }
      @media only screen and (max-width: 767px) {
        .weekly-schedule-table table thead th p {
          font-size: 14px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .weekly-schedule-table table thead th p {
          font-size: 16px; } }
    .weekly-schedule-table table thead th::after {
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: #dc2878;
      content: '';
      bottom: 0;
      left: 0;
      z-index: 1; }
  .weekly-schedule-table table tbody tr {
    border-bottom: 1px solid #e5e5e5; }
  .weekly-schedule-table table tbody th,
  .weekly-schedule-table table tbody td {
    padding: 20px 20px 20px 0; }
    .weekly-schedule-table table tbody th span,
    .weekly-schedule-table table tbody td span {
      font-weight: 600; }
      @media only screen and (max-width: 767px) {
        .weekly-schedule-table table tbody th span,
        .weekly-schedule-table table tbody td span {
          font-size: 12px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .weekly-schedule-table table tbody th h5,
      .weekly-schedule-table table tbody td h5 {
        font-size: 16px; } }
    @media only screen and (max-width: 767px) {
      .weekly-schedule-table table tbody th h5,
      .weekly-schedule-table table tbody td h5 {
        font-size: 14px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .weekly-schedule-table table tbody th h5,
      .weekly-schedule-table table tbody td h5 {
        font-size: 16px; } }
  .weekly-schedule-table table tbody th p {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    font-weight: 500;
    color: #191919; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .weekly-schedule-table table tbody th p {
        font-size: 16px; } }
    @media only screen and (max-width: 767px) {
      .weekly-schedule-table table tbody th p {
        font-size: 14px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .weekly-schedule-table table tbody th p {
        font-size: 16px; } }

/* :: 11.0 Blog CSS */
.featured-post-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 430px;
  overflow: hidden;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 3px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .featured-post-area {
      height: 350px; } }
  @media only screen and (max-width: 767px) {
    .featured-post-area {
      height: 350px; } }
  .featured-post-area .post-overlay {
    position: absolute;
    width: 100%;
    padding: 30px;
    z-index: 100;
    left: 0;
    bottom: 0; }
    .featured-post-area .post-overlay .post-meta a {
      font-size: 14px;
      color: #ffffff;
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 10px; }
      .featured-post-area .post-overlay .post-meta a:hover, .featured-post-area .post-overlay .post-meta a:focus {
        color: #dc2878; }
    .featured-post-area .post-overlay .post-title {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      color: #ffffff;
      margin-bottom: 0; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .featured-post-area .post-overlay .post-title {
          font-size: 24px; } }
      @media only screen and (max-width: 767px) {
        .featured-post-area .post-overlay .post-title {
          font-size: 20px; } }
      .featured-post-area .post-overlay .post-title:hover, .featured-post-area .post-overlay .post-title:focus {
        color: #dc2878; }
  .featured-post-area:hover, .featured-post-area:focus {
    background-position: bottom center; }
  .featured-post-area.small-featured-post {
    height: 170px; }
    .featured-post-area.small-featured-post .post-title {
      font-size: 20px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .featured-post-area.small-featured-post .post-title {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .featured-post-area.small-featured-post .post-title {
          font-size: 16px; } }
      .featured-post-area.small-featured-post .post-title:hover, .featured-post-area.small-featured-post .post-title:focus {
        color: #dc2878; }

.razo-single-post {
  position: relative;
  z-index: 1; }
  .razo-single-post .post-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px;
    width: 100px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .razo-single-post .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
        flex: 0 0 70px;
        max-width: 70px;
        width: 70px; } }
    @media only screen and (max-width: 767px) {
      .razo-single-post .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px; } }
    .razo-single-post .post-thumbnail a {
      display: block; }
    .razo-single-post .post-thumbnail img {
      border-radius: 2px; }
  .razo-single-post .post-content {
    position: relative;
    z-index: 1;
    margin-left: 15px; }
    .razo-single-post .post-content .post-meta a {
      font-size: 14px;
      color: #6e6e6e;
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 10px; }
      .razo-single-post .post-content .post-meta a:hover, .razo-single-post .post-content .post-meta a:focus {
        color: #dc2878; }
    .razo-single-post .post-content .post-title {
      font-family: "Oswald", sans-serif;
      font-size: 20px;
      color: #191919;
      margin-bottom: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .razo-single-post .post-content .post-title {
          font-size: 18px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .razo-single-post .post-content .post-title {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .razo-single-post .post-content .post-title {
          font-size: 16px; } }
      .razo-single-post .post-content .post-title:hover, .razo-single-post .post-content .post-title:focus {
        color: #dc2878; }

.razo-single-latest-news-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 520px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .razo-single-latest-news-area {
      height: 470px; } }
  @media only screen and (max-width: 767px) {
    .razo-single-latest-news-area {
      height: 450px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .razo-single-latest-news-area {
      height: 400px; } }
  .razo-single-latest-news-area .post-date {
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 10;
    width: 100px;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .razo-single-latest-news-area .post-date {
        left: 30px;
        width: 90px; } }
    .razo-single-latest-news-area .post-date h2 {
      display: block;
      background-color: #dc2878;
      font-size: 48px;
      padding: 20px 0;
      color: #ffffff;
      margin-bottom: 0;
      line-height: 1; }
      @media only screen and (max-width: 767px) {
        .razo-single-latest-news-area .post-date h2 {
          font-size: 30px; } }
    .razo-single-latest-news-area .post-date p {
      background-color: #ffffff;
      font-size: 14px;
      color: #6e6e6e;
      padding: 5px 0;
      margin-bottom: 0;
      font-weight: 600; }
  .razo-single-latest-news-area .post-content {
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 50px;
    left: 50px;
    z-index: 10; }
    @media only screen and (max-width: 767px) {
      .razo-single-latest-news-area .post-content {
        bottom: 30px;
        left: 30px; } }
    .razo-single-latest-news-area .post-content .post-title {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      color: #ffffff;
      display: block;
      margin-bottom: 15px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .razo-single-latest-news-area .post-content .post-title {
          font-size: 24px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .razo-single-latest-news-area .post-content .post-title {
          font-size: 24px; } }
      @media only screen and (max-width: 767px) {
        .razo-single-latest-news-area .post-content .post-title {
          font-size: 20px; } }
      .razo-single-latest-news-area .post-content .post-title:hover, .razo-single-latest-news-area .post-content .post-title:focus {
        color: #dc2878; }
    .razo-single-latest-news-area .post-content p {
      margin-bottom: 0;
      color: #ffffff; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .razo-single-latest-news-area .post-content p {
          font-size: 14px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .razo-single-latest-news-area .post-content p {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .razo-single-latest-news-area .post-content p {
          font-size: 14px; } }
  .razo-single-latest-news-area .read-more-btn {
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 10; }
    @media only screen and (max-width: 767px) {
      .razo-single-latest-news-area .read-more-btn {
        right: 30px;
        bottom: 30px; } }
    .razo-single-latest-news-area .read-more-btn .btn {
      color: #ffffff;
      font-size: 14px;
      padding: 0;
      font-weight: 600; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .razo-single-latest-news-area .read-more-btn .btn {
          font-size: 12px; } }
      @media only screen and (max-width: 767px) {
        .razo-single-latest-news-area .read-more-btn .btn {
          font-size: 12px; } }
      .razo-single-latest-news-area .read-more-btn .btn:hover, .razo-single-latest-news-area .read-more-btn .btn:focus {
        font-weight: 600;
        color: #dc2878; }

.featured-trending-video {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 600px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .featured-trending-video {
      height: 470px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .featured-trending-video {
      height: 420px; } }
  @media only screen and (max-width: 767px) {
    .featured-trending-video {
      height: 260px; } }
  .featured-trending-video iframe {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px; }

.razo-blog-masonary-single-item {
  position: relative;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.15); }
  .razo-blog-masonary-single-item .post-thumbnail img {
    border-radius: 2px 2px 0 0; }
  .razo-blog-masonary-single-item .post-thumbnail a {
    display: block; }
  .razo-blog-masonary-single-item .post-content {
    padding: 30px; }
    .razo-blog-masonary-single-item .post-content .post-date {
      font-size: 14px;
      display: block;
      margin-bottom: 10px;
      color: #a6a6a6; }
    .razo-blog-masonary-single-item .post-content .post-title {
      font-size: 20px;
      display: block;
      margin-bottom: 15px;
      font-family: "Oswald", sans-serif; }
      .razo-blog-masonary-single-item .post-content .post-title:hover, .razo-blog-masonary-single-item .post-content .post-title:focus {
        color: #dc2878; }
    .razo-blog-masonary-single-item .post-content .read-more-btn {
      font-size: 14px;
      color: #a6a6a6;
      padding: 0; }
      .razo-blog-masonary-single-item .post-content .read-more-btn:hover, .razo-blog-masonary-single-item .post-content .read-more-btn:focus {
        color: #dc2878; }

.blog-details-post-thumbnail-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 600px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .blog-details-post-thumbnail-area {
      height: 450px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog-details-post-thumbnail-area {
      height: 400px; } }
  @media only screen and (max-width: 767px) {
    .blog-details-post-thumbnail-area {
      height: 400px; } }
  .blog-details-post-thumbnail-area .post-title-text {
    text-align: center; }
    .blog-details-post-thumbnail-area .post-title-text h2 {
      font-size: 48px;
      display: block;
      margin-bottom: 25px;
      color: #ffffff; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .blog-details-post-thumbnail-area .post-title-text h2 {
          font-size: 42px; } }
      @media only screen and (max-width: 767px) {
        .blog-details-post-thumbnail-area .post-title-text h2 {
          font-size: 30px; } }
    .blog-details-post-thumbnail-area .post-title-text .post-meta a {
      display: inline-block;
      position: relative;
      z-index: 1;
      font-size: 14px;
      color: #ffffff; }
      .blog-details-post-thumbnail-area .post-title-text .post-meta a:last-child {
        margin-left: 30px; }
        .blog-details-post-thumbnail-area .post-title-text .post-meta a:last-child::after {
          position: absolute;
          content: '|';
          top: 0;
          left: -17px;
          z-index: 1; }
      .blog-details-post-thumbnail-area .post-title-text .post-meta a:hover, .blog-details-post-thumbnail-area .post-title-text .post-meta a:focus {
        color: #dc2878; }

.razo-pagination {
  position: relative;
  z-index: 1; }
  .razo-pagination .pagination .page-item .page-link {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 0;
    line-height: 38px;
    margin: 0 5px;
    text-align: center;
    background-color: transparent;
    color: #6e6e6e;
    font-size: 16px; }
    .razo-pagination .pagination .page-item .page-link:focus, .razo-pagination .pagination .page-item .page-link:hover {
      background-color: #dc2878;
      border-color: #dc2878;
      color: #ffffff; }
  .razo-pagination .pagination .page-item.active .page-link {
    background-color: #dc2878;
    border-color: #dc2878;
    color: #ffffff; }

.comment_area {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 50px;
  padding-bottom: 20px; }
  .comment_area .title {
    margin-bottom: 30px;
    font-size: 30px; }
    @media only screen and (max-width: 767px) {
      .comment_area .title {
        font-size: 24px; } }
  .comment_area .comment-content {
    position: relative;
    z-index: 1;
    margin-bottom: 50px; }
    .comment_area .comment-content .comment-author {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      width: 70px;
      max-width: 70px;
      margin-right: 20px;
      border-radius: 50%; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-author {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50px;
          flex: 0 0 50px;
          width: 50px;
          max-width: 50px;
          margin-right: 10px; } }
      .comment_area .comment-content .comment-author img {
        border-radius: 50%; }
    .comment_area .comment-content .comment-meta .author-name {
      margin-bottom: 10px;
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      display: block; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta .author-name {
          font-size: 14px; } }
      .comment_area .comment-content .comment-meta .author-name .post-date {
        color: #6e6e6e;
        font-size: 14px;
        font-family: "Open Sans", sans-serif; }
        @media only screen and (max-width: 767px) {
          .comment_area .comment-content .comment-meta .author-name .post-date {
            font-size: 12px; } }
      .comment_area .comment-content .comment-meta .author-name:hover, .comment_area .comment-content .comment-meta .author-name:focus {
        color: #dc2878; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta .author-name {
          font-size: 16px; } }
    .comment_area .comment-content .comment-meta p {
      color: #6e6e6e;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
      display: block; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta p {
          font-size: 14px; } }
    .comment_area .comment-content .comment-meta a.like,
    .comment_area .comment-content .comment-meta a.reply {
      display: inline-block;
      padding: 5px 15px 3px;
      font-size: 12px;
      font-weight: 600;
      border: 1px solid #e5e5e5;
      text-transform: uppercase; }
      .comment_area .comment-content .comment-meta a.like:focus, .comment_area .comment-content .comment-meta a.like:hover,
      .comment_area .comment-content .comment-meta a.reply:focus,
      .comment_area .comment-content .comment-meta a.reply:hover {
        border-color: #dc2878;
        background-color: #dc2878;
        color: #ffffff; }
  .comment_area .children {
    margin-left: 50px; }
    @media only screen and (max-width: 767px) {
      .comment_area .children {
        margin-left: 20px; } }
    .comment_area .children .single_comment_area:last-of-type {
      margin-bottom: 0; }

.razo-blockquote {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 30px; }
  .razo-blockquote .icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    width: 70px; }
    @media only screen and (max-width: 767px) {
      .razo-blockquote .icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        max-width: 40px;
        width: 40px; } }
    .razo-blockquote .icon i {
      font-size: 48px;
      color: #dc2878; }
      @media only screen and (max-width: 767px) {
        .razo-blockquote .icon i {
          font-size: 30px; } }
  .razo-blockquote .text p {
    color: #191919;
    margin-bottom: 15px;
    line-height: 1.6;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .razo-blockquote .text p {
        font-size: 18px; } }
  .razo-blockquote .text h6 {
    margin-bottom: 0;
    color: #dc2878; }

.post-catagories {
  position: relative;
  z-index: 1;
  margin: 20px 0 50px 0; }
  .post-catagories ul li {
    margin: 5px;
    font-weight: 600; }
    .post-catagories ul li a {
      display: inline-block;
      background-color: #ffffff;
      color: #dc2878;
      text-transform: capitalize;
      font-size: 16px;
      margin: 5px;
      font-weight: 600; }
      .post-catagories ul li a:focus, .post-catagories ul li a:hover {
        background-color: transparent;
        color: #191919; }
      @media only screen and (max-width: 767px) {
        .post-catagories ul li a {
          font-size: 14px; } }

.razo-post-share {
  position: relative;
  z-index: 1; }
  .razo-post-share h5 {
    font-size: 18px;
    margin-bottom: 15px; }
  .razo-post-share a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dc2878;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 40px; }
    .razo-post-share a.facebook {
      background-color: #4c65a8; }
    .razo-post-share a.twitter {
      background-color: #41a1f6; }
    .razo-post-share a.google-plus {
      background-color: #f43535; }
    .razo-post-share a.pinterest {
      background-color: #8f6247; }
    .razo-post-share a.instagram {
      background-color: #f0c605; }
    .razo-post-share a:hover, .razo-post-share a:focus {
      background-color: #dc2878; }

.blog-details-area {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .blog-details-area .post-details-text p {
      font-size: 14px; } }

/* :: 12.0 Footer CSS */
.footer-area {
  position: relative;
  z-index: 1; }
  .footer-area .main-footer-area {
    border-top: 1px solid #e5e5e5; }

.single-footer-widget {
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-footer-widget p {
      font-size: 14px; } }
  .single-footer-widget .widget-title {
    color: #191919;
    margin-bottom: 30px;
    display: block;
    font-weight: 400; }
  .single-footer-widget .footer-logo {
    display: block;
    margin-bottom: 30px; }
  .single-footer-widget .single-contact-info {
    position: relative;
    z-index: 1;
    margin-bottom: 15px; }
    .single-footer-widget .single-contact-info:last-child {
      margin-bottom: 0; }
    .single-footer-widget .single-contact-info .icon {
      padding-top: 1px;
      font-size: 18px;
      margin-right: 20px;
      color: #dc2878; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-footer-widget .single-contact-info .icon {
          font-size: 16px; } }
    .single-footer-widget .single-contact-info .text p {
      color: #191919;
      margin-bottom: 0; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-footer-widget .single-contact-info .text p {
          font-size: 14px; } }
  .single-footer-widget .single-twitter-feed {
    position: relative;
    z-index: 1;
    margin-bottom: 15px; }
    .single-footer-widget .single-twitter-feed:last-child {
      margin-bottom: 0; }
    .single-footer-widget .single-twitter-feed .tweet-icon {
      padding-top: 2px;
      font-size: 18px;
      margin-right: 20px;
      color: #dc2878; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-footer-widget .single-twitter-feed .tweet-icon {
          margin-right: 10px; } }
    .single-footer-widget .single-twitter-feed .tweet p {
      color: #6e6e6e;
      margin-bottom: 0; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-footer-widget .single-twitter-feed .tweet p {
          font-size: 14px; } }
      .single-footer-widget .single-twitter-feed .tweet p a {
        color: #191919; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single-footer-widget .single-twitter-feed .tweet p a {
            font-size: 14px; } }
        .single-footer-widget .single-twitter-feed .tweet p a:focus, .single-footer-widget .single-twitter-feed .tweet p a:hover {
          color: #dc2878; }

.copywrite-text {
  position: relative;
  z-index: 1;
  border-top: 1px solid #e5e5e5;
  padding: 40px 0 30px;
  text-align: center; }
  .copywrite-text p {
    font-size: 14px;
    color: #6e6e6e;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .copywrite-text p {
        font-size: 10px; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .copywrite-text p {
        font-size: 12px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .copywrite-text p {
        font-size: 14px; } }
    .copywrite-text p a {
      color: #6e6e6e;
      font-size: 14px; }
      @media only screen and (max-width: 767px) {
        .copywrite-text p a {
          font-size: 10px; } }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        .copywrite-text p a {
          font-size: 12px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .copywrite-text p a {
          font-size: 14px; } }
      .copywrite-text p a:focus, .copywrite-text p a:hover {
        color: #dc2878; }

.razo-instagram-area {
  position: relative;
  z-index: 1;
  margin-left: -7.5px;
  margin-right: -7.5px; }
  .razo-instagram-area .single-instagram-feed {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(33.3333% - 15px);
    flex: 0 0 calc(33.3333% - 15px);
    margin: 0 7.5px;
    display: block;
    margin-bottom: 15px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    overflow: hidden;
    border-radius: 2px; }
    .razo-instagram-area .single-instagram-feed a {
      display: block; }
      .razo-instagram-area .single-instagram-feed a img {
        width: 100%;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        border-radius: 2px; }
    .razo-instagram-area .single-instagram-feed:hover, .razo-instagram-area .single-instagram-feed:focus {
      z-index: 100;
      -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
      box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
      -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
      transform: scale(1.25); }
      .razo-instagram-area .single-instagram-feed:hover img, .razo-instagram-area .single-instagram-feed:focus img {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }

/* :: 13.0 Music Charts */
.single-music-chart {
  position: relative;
  z-index: 1;
  padding: 20px 30px;
  background-color: #0c0c0c;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-bottom: 1px solid #343535; }
  .single-music-chart:first-child {
    border-radius: 3px 3px 0 0; }
  .single-music-chart:last-child {
    border-radius: 0 0 3px 3px;
    border-bottom: none; }
  @media only screen and (max-width: 767px) {
    .single-music-chart {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .single-music-chart .music-content {
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 767px) {
      .single-music-chart .music-content {
        margin-bottom: 15px; } }
    .single-music-chart .music-content .sl-number h5 {
      color: #ffffff;
      margin-bottom: 0;
      margin-right: 20px; }
    .single-music-chart .music-content .music-thumb {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
      flex: 0 0 100px;
      max-width: 100px;
      width: 100px;
      margin-right: 15px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-music-chart .music-content .music-thumb {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 70px;
          flex: 0 0 70px;
          max-width: 70px;
          width: 70px; } }
      @media only screen and (max-width: 767px) {
        .single-music-chart .music-content .music-thumb {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50px;
          flex: 0 0 50px;
          max-width: 50px;
          width: 50px; } }
      .single-music-chart .music-content .music-thumb img {
        border-radius: 3px; }
    .single-music-chart .music-content .music-title h5 {
      color: #ffffff;
      margin-bottom: 0; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-music-chart .music-content .music-title h5 {
          font-size: 16px; } }
      @media only screen and (max-width: 767px) {
        .single-music-chart .music-content .music-title h5 {
          font-size: 12px; } }
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        .single-music-chart .music-content .music-title h5 {
          font-size: 14px; } }
      .single-music-chart .music-content .music-title h5 span {
        color: #a6a6a6; }
    .single-music-chart .music-content .audio-player {
      position: relative;
      z-index: 1; }
      .single-music-chart .music-content .audio-player .audioplayer {
        margin: 0;
        padding: 0;
        border: none;
        margin-right: 15px;
        height: auto;
        background-color: transparent; }
      .single-music-chart .music-content .audio-player .audioplayer-time,
      .single-music-chart .music-content .audio-player .audioplayer-volume,
      .single-music-chart .music-content .audio-player .audioplayer-bar {
        display: none; }
      .single-music-chart .music-content .audio-player .audioplayer-playpause {
        width: 34px;
        height: 34px;
        border: 3px solid #ffffff; }
      .single-music-chart .music-content .audio-player .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
        border-left: 12px solid #ffffff; }
    .single-music-chart .music-content .audioplayer-playing .audioplayer-playpause {
      border: 3px solid #dc2878; }
    .single-music-chart .music-content .audioplayer-playing .audioplayer-playpause a::before,
    .single-music-chart .music-content .audioplayer-playing .audioplayer-playpause a::after {
      background-color: #dc2878; }
  @media only screen and (max-width: 767px) {
    .single-music-chart .music-price {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .single-music-chart .music-price .razo-btn {
      min-width: 100%; } }
  .single-music-chart:hover, .single-music-chart:focus {
    background-color: #1e1e1e; }
    .single-music-chart:hover .razo-btn, .single-music-chart:focus .razo-btn {
      background-color: #dc2878;
      color: #ffffff; }
  .single-music-chart.style-2 {
    background-color: #ffffff;
    border-bottom: none; }
    .single-music-chart.style-2 .music-content {
      position: relative;
      z-index: 1; }
      .single-music-chart.style-2 .music-content .sl-number h5 {
        color: #191919; }
      .single-music-chart.style-2 .music-content .music-title h5 {
        color: #191919; }
        .single-music-chart.style-2 .music-content .music-title h5 span {
          color: #a6a6a6; }
      .single-music-chart.style-2 .music-content .audio-player .audioplayer-playpause {
        border: 3px solid #191919; }
      .single-music-chart.style-2 .music-content .audio-player .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
        border-left: 12px solid #191919; }
      .single-music-chart.style-2 .music-content .audioplayer-playing .audioplayer-playpause {
        border: 3px solid #dc2878; }
      .single-music-chart.style-2 .music-content .audioplayer-playing .audioplayer-playpause a::before,
      .single-music-chart.style-2 .music-content .audioplayer-playing .audioplayer-playpause a::after {
        background-color: #dc2878; }
    .single-music-chart.style-2:hover, .single-music-chart.style-2:focus {
      background-color: #f2f4f5; }

.single-charts-portfolio {
  position: relative;
  z-index: 1;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-charts-portfolio img {
    border-radius: 3px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms; }
  .single-charts-portfolio .overlay-content {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    padding: 20px; }
    .single-charts-portfolio .overlay-content h5 {
      color: #ffffff;
      display: block;
      margin-bottom: 15px; }
    .single-charts-portfolio .overlay-content p {
      margin-bottom: 0;
      font-size: 14px;
      color: #ffffff; }
  .single-charts-portfolio:hover img, .single-charts-portfolio:focus img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .single-charts-portfolio:hover .overlay-content, .single-charts-portfolio:focus .overlay-content {
    opacity: 1;
    visibility: visible; }

.chart-details-content {
  position: relative;
  z-index: 1; }
  .chart-details-content h2 {
    font-size: 48px;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    font-weight: 600; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .chart-details-content h2 {
        font-size: 42px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .chart-details-content h2 {
        font-size: 42px; } }
    @media only screen and (max-width: 767px) {
      .chart-details-content h2 {
        font-size: 36px; } }
  .chart-details-content p {
    margin-bottom: 30px;
    color: #ffffff; }

/* :: 14.0 Contact Area */
.razo-contact-area {
  position: relative;
  z-index: 1; }

.razo-contact-form {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .razo-contact-form h2 {
      font-size: 24px; } }
  .razo-contact-form .form-control {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 2px;
    color: #a6a6a6;
    font-size: 14px; }
    .razo-contact-form .form-control:focus {
      box-shadow: none;
      border-color: #dc2878; }
  .razo-contact-form textarea.form-control {
    height: 110px;
    padding: 20px; }

/* :: 15.0 Show CSS */
.show-welcome-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 500px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .show-welcome-area {
      height: 400px; } }
  @media only screen and (max-width: 767px) {
    .show-welcome-area {
      height: 400px; } }
  .show-welcome-area .show-welcome-text p {
    font-size: 20px;
    display: block;
    color: #ffffff; }
  .show-welcome-area .show-welcome-text h2 {
    font-size: 48px;
    color: #ffffff;
    display: block;
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .show-welcome-area .show-welcome-text h2 {
        font-size: 42px; } }
    @media only screen and (max-width: 767px) {
      .show-welcome-area .show-welcome-text h2 {
        font-size: 30px; } }
  .show-welcome-area .show-welcome-text span {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 0; }

.show-routine-area {
  position: relative;
  z-index: 1; }
  .show-routine-area .nav-tabs {
    border-bottom: none;
    margin-bottom: 50px; }
    .show-routine-area .nav-tabs .nav-item {
      margin-bottom: 0;
      flex-grow: 1;
      text-align: center; }
      .show-routine-area .nav-tabs .nav-item .nav-link {
        position: relative;
        z-index: 1;
        border: none;
        padding: 10px;
        font-family: "Oswald", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: #a6a6a6; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .show-routine-area .nav-tabs .nav-item .nav-link {
            font-size: 16px; } }
        @media only screen and (max-width: 767px) {
          .show-routine-area .nav-tabs .nav-item .nav-link {
            font-size: 16px; } }
        .show-routine-area .nav-tabs .nav-item .nav-link::after {
          width: 80%;
          left: 10%;
          position: absolute;
          height: 2px;
          background-color: #e5e5e5;
          bottom: 0;
          z-index: 1;
          content: '';
          -webkit-transition-duration: 500ms;
          -o-transition-duration: 500ms;
          transition-duration: 500ms; }
        .show-routine-area .nav-tabs .nav-item .nav-link.active {
          color: #dc2878; }
          .show-routine-area .nav-tabs .nav-item .nav-link.active::after {
            background-color: #dc2878; }

.single-show-item {
  position: relative;
  z-index: 1;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-show-item img {
    border-radius: 3px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms; }
  .single-show-item .overlay-content {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    opacity: 1;
    visibility: visible; }
    .single-show-item .overlay-content span {
      margin-bottom: 15px;
      font-size: 14px;
      color: #ffffff;
      display: block; }
    .single-show-item .overlay-content h5 {
      color: #ffffff;
      display: block;
      margin-bottom: 0; }
  .single-show-item:hover img, .single-show-item:focus img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .single-show-item:hover .overlay-content, .single-show-item:focus .overlay-content {
    background-color: #dc2878; }

/* :: 16.0 Events CSS */
.event-welcome-area {
  position: relative;
  z-index: 1;
  padding: 150px 0; }
  @media only screen and (max-width: 767px) {
    .event-welcome-area {
      padding: 100px 0; } }
  .event-welcome-area .event-welcome-text span {
    color: #ffffff;
    font-size: 14px;
    display: block;
    margin-bottom: 10px; }
  .event-welcome-area .event-welcome-text h2 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 10px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .event-welcome-area .event-welcome-text h2 {
        font-size: 42px; } }
    @media only screen and (max-width: 767px) {
      .event-welcome-area .event-welcome-text h2 {
        font-size: 30px; } }
  .event-welcome-area .event-welcome-text p {
    margin-bottom: 0;
    color: #ffffff; }

.coming-soon-clock #clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .coming-soon-clock #clock div {
    font-weight: 500;
    color: #ffffff;
    font-size: 48px;
    margin: 0 15px;
    font-family: "Oswald", sans-serif; }
    @media only screen and (max-width: 767px) {
      .coming-soon-clock #clock div {
        font-size: 28px; } }
    .coming-soon-clock #clock div span {
      font-size: 18px;
      text-transform: uppercase; }
      @media only screen and (max-width: 767px) {
        .coming-soon-clock #clock div span {
          font-size: 14px; } }

.event-search-content {
  position: relative;
  z-index: 1;
  padding: 30px 50px 0;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15); }
  .event-search-content form {
    position: relative;
    z-index: 1; }
    .event-search-content form .form-group {
      position: relative;
      z-index: 1;
      margin-bottom: 35px; }
      .event-search-content form .form-group label {
        font-size: 14px;
        color: #191919;
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
        font-family: "Oswald", sans-serif; }
      .event-search-content form .form-group .form-input-icon {
        position: absolute;
        bottom: 13px;
        right: 15px;
        font-size: 14px;
        color: #dc2878; }
      .event-search-content form .form-group .form-control {
        width: 100%;
        height: 46px;
        border: 1px solid #e5e5e5;
        font-size: 14px;
        color: #a6a6a6; }
        @media only screen and (max-width: 767px) {
          .event-search-content form .form-group .form-control {
            font-size: 12px; } }
        .event-search-content form .form-group .form-control:focus {
          box-shadow: none;
          border-color: #dc2878; }

.single-razo-event-area {
  position: relative;
  z-index: 2; }
  .single-razo-event-area .event-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    width: 30%;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.15); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-razo-event-area .event-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
        width: 40%; } }
    @media only screen and (max-width: 767px) {
      .single-razo-event-area .event-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%; } }
    .single-razo-event-area .event-thumbnail img {
      border-radius: 5px; }
  .single-razo-event-area .event-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
    width: 70%;
    padding-left: 50px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-razo-event-area .event-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        width: 60%;
        padding-left: 30px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media only screen and (max-width: 767px) {
      .single-razo-event-area .event-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 50px; } }
    .single-razo-event-area .event-content h5 {
      display: block;
      margin-bottom: 15px; }
    .single-razo-event-area .event-content .event-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 15px; }
      .single-razo-event-area .event-content .event-meta a {
        display: inline-block;
        font-size: 14px;
        color: #a6a6a6;
        margin-right: 30px;
        line-height: 1.8; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single-razo-event-area .event-content .event-meta a {
            font-size: 12px;
            margin-right: 15px; } }
        @media only screen and (max-width: 767px) {
          .single-razo-event-area .event-content .event-meta a {
            font-size: 12px;
            margin-right: 15px; } }
        .single-razo-event-area .event-content .event-meta a i {
          font-size: 14px;
          color: #dc2878; }
          @media only screen and (max-width: 767px) {
            .single-razo-event-area .event-content .event-meta a i {
              font-size: 12px; } }
        .single-razo-event-area .event-content .event-meta a:last-child {
          margin-right: 0; }
        .single-razo-event-area .event-content .event-meta a:hover, .single-razo-event-area .event-content .event-meta a:focus {
          box-shadow: none;
          color: #dc2878; }
    .single-razo-event-area .event-content p {
      margin-bottom: 15px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-razo-event-area .event-content p {
          font-size: 14px; } }
    .single-razo-event-area .event-content .read-more-btn {
      padding: 0;
      font-size: 14px;
      font-weight: 600;
      color: #a6a6a6; }
      .single-razo-event-area .event-content .read-more-btn:hover, .single-razo-event-area .event-content .read-more-btn:focus {
        box-shadow: none;
        color: #dc2878; }
    .single-razo-event-area .event-content .event-purchase-button {
      padding-left: 100px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-razo-event-area .event-content .event-purchase-button {
          padding-left: 0;
          margin-top: 30px; } }
      @media only screen and (max-width: 767px) {
        .single-razo-event-area .event-content .event-purchase-button {
          padding-left: 0;
          margin-top: 30px; } }

/* :: 17.0 Podcast CSS */
.podcast-hero-text {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .podcast-hero-text {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .podcast-hero-text h5 {
    color: #ffffff;
    display: block;
    margin-bottom: 20px; }
  .podcast-hero-text h2 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 40px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .podcast-hero-text h2 {
        font-size: 42px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .podcast-hero-text h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .podcast-hero-text h2 {
        font-size: 30px; } }
  .podcast-hero-text .podcast-meta-data a {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    margin-right: 30px; }
    @media only screen and (max-width: 767px) {
      .podcast-hero-text .podcast-meta-data a {
        font-size: 12px;
        margin-right: 15px; } }
    .podcast-hero-text .podcast-meta-data a i {
      margin-right: 10px; }
      @media only screen and (max-width: 767px) {
        .podcast-hero-text .podcast-meta-data a i {
          margin-right: 5px; } }
    .podcast-hero-text .podcast-meta-data a:last-child {
      margin-right: 0; }

.podcast-audio-player-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 90px;
  background-color: #191919; }
  .podcast-audio-player-area .audioplayer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90px;
    border: none;
    border-radius: 0;
    background: transparent;
    padding: 0; }
    .podcast-audio-player-area .audioplayer .audioplayer-time {
      color: #ffffff;
      font-family: "Oswald", sans-serif; }
    .podcast-audio-player-area .audioplayer .audioplayer-bar-loaded {
      background-color: #ffffff; }
    .podcast-audio-player-area .audioplayer .audioplayer-bar-played {
      background-color: #dc2878; }
  .podcast-audio-player-area .audioplayer-playing .audioplayer-bar-played::after,
  .podcast-audio-player-area .audioplayer:not(.audioplayer-playing) .audioplayer-bar-played::after {
    border-color: #dc2878; }
  .podcast-audio-player-area .audioplayer-bar-played::after {
    background-color: #dc2878; }

.single-podcast-area {
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.15); }
  .single-podcast-area .podcast-thumb {
    position: relative;
    z-index: 1; }
    .single-podcast-area .podcast-thumb img {
      width: 100%; }
    .single-podcast-area .podcast-thumb .like-comment {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 10; }
      .single-podcast-area .podcast-thumb .like-comment a {
        display: inline-block;
        font-size: 14px;
        color: #ffffff;
        margin-left: 15px; }
        .single-podcast-area .podcast-thumb .like-comment a:hover, .single-podcast-area .podcast-thumb .like-comment a:focus {
          color: #dc2878; }
  .single-podcast-area .podcast-content {
    padding: 30px;
    position: relative;
    z-index: 1; }
    .single-podcast-area .podcast-content .podcast-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 15px; }
      .single-podcast-area .podcast-content .podcast-meta a {
        display: inline-block;
        font-size: 13px;
        color: #a6a6a6;
        margin-right: 15px; }
        .single-podcast-area .podcast-content .podcast-meta a:hover, .single-podcast-area .podcast-content .podcast-meta a:focus {
          color: #dc2878; }
    .single-podcast-area .podcast-content h5 {
      margin-bottom: 15px;
      display: block; }
    .single-podcast-area .podcast-content .border-line {
      width: 100%;
      height: 1px;
      background-color: #e5e5e5;
      display: block;
      margin: 15px 0 20px 0; }
    .single-podcast-area .podcast-content .play-download-btn .music-download-btn {
      font-size: 18px;
      color: #a6a6a6; }
      .single-podcast-area .podcast-content .play-download-btn .music-download-btn:hover, .single-podcast-area .podcast-content .play-download-btn .music-download-btn:focus {
        color: #dc2878; }

.razo-next-prev-pager {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #e5e5e5; }
  .razo-next-prev-pager .prev-pager,
  .razo-next-prev-pager .next-pager {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%; }
    .razo-next-prev-pager .prev-pager a span,
    .razo-next-prev-pager .next-pager a span {
      font-size: 14px;
      display: block;
      color: #a6a6a6;
      margin-bottom: 15px; }
    .razo-next-prev-pager .prev-pager a h6,
    .razo-next-prev-pager .next-pager a h6 {
      margin-bottom: 0;
      color: #6e6e6e;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
      @media only screen and (max-width: 767px) {
        .razo-next-prev-pager .prev-pager a h6,
        .razo-next-prev-pager .next-pager a h6 {
          font-size: 14px; } }
      .razo-next-prev-pager .prev-pager a h6:hover, .razo-next-prev-pager .prev-pager a h6:focus,
      .razo-next-prev-pager .next-pager a h6:hover,
      .razo-next-prev-pager .next-pager a h6:focus {
        color: #dc2878; }

.razo-author-avatar {
  position: relative;
  z-index: 1;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .razo-author-avatar {
      margin-bottom: 50px; } }
  .razo-author-avatar img {
    width: 70px;
    border-radius: 70px;
    margin-bottom: 15px; }
  .razo-author-avatar h6 {
    margin-bottom: 0;
    font-size: 14px; }
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline-grid;
  color: #f00;
  padding: 1rem;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
